html {
  font-family: "Source Sans Pro";
}

body {
  margin: auto;
}

/* HEADER */

body > header {
  height: 50px;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  top: 0px;
  width: 100%;
  background-color: #2f3131;
  color: #f8f1e5;
}

body > header > #logo {
  font-size: 20px;
}

body > header > #nav > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  list-style-type: none;
}

body > header > #nav > ul > li {
  white-space: nowrap;
}

body > header > #nav > ul > li a {
  color: white;
  text-decoration: none;
  /* border: 1px solid white; */
  margin-left: 50px;
}

body > header > #nav > ul > li a:hover {
  color: gray;
}

/* SECTIONS */

body > section {
  display: inline-block;
  min-height: 80%;
  max-height: auto;
  width: 100%;
  text-align: center;
  color: #f8f1e5;
  /* border: 1px solid yellow; */
}

body > section > h1 {
  font-weight: 400;
  font-size: 60px;
  margin: 180px auto 30px auto;
  /* border: 1px solid yellow; */
}

body > section > h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 0px auto 30px auto;
  /* border: 1px solid yellow; */
}

/* WELCOME SECTION */

body > #welcome-section {
  background-color: #426e86;
}

body > #welcome-section > img {
  height: 200px;
  width: auto;
  margin: 50px;
  border-radius: 25%;
}

/* PROJECT SECTION */

body > #project-section {
  background-color: #f9ba32;
}

body > #project-section > .project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto auto 50px auto;
}

body > #project-section > .project-container a {
  text-decoration: none;
}

body > #project-section > .project-container > .project-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f8f1e5;
  border-radius: 25%;
  height: 150px;
  width: 150px;
  margin: 25px;
}

/* ABOUT SECTION */

body > #about-section {
  background-color: #2f3131;
}

body > #about-section > .hobby-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body > #about-section > .hobby-container > .hobby-item {
  display: flex;
  flex-direction: column;
}

body > #about-section > .hobby-container > .hobby-item > img {
  height: 100px;
  width: 100px;
  margin: 50px 50px 0px 50px;
}

body
  > #about-section
  > .hobby-container
  > .hobby-item
  > .hobby-item-description
  p {
  visibility: hidden;
}

body
  > #about-section
  > .hobby-container
  > .hobby-item:hover
  > .hobby-item-description
  p {
  visibility: visible;
  font-size: 25px;
}

/* MODAL */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f8f1e5;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 60%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-flow: row nowrap;
}

.modal-text p {
  margin: 0px;
  padding-left: 20px;
  font-size: 20px;
}

/* FOOTER */

body > footer {
  background-color: #426e86;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100px;
  text-align: center;
  font-size: 15px;
  color: #f8f1e5;
}

body > footer a {
  text-decoration: none;
  color: #f8f1e5;
}
