html {
  font-family: 'Source Sans Pro';
}

body {
  margin: auto;
}

nav ul {
  position: fixed;
  font-size: 30px;
  list-style-type: none;
  margin: 60px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: gray;
}

section {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
}

#welcome-section {
  background-color: #426E86;
}

#project-section {
  background-color: #F9BA32;
}

#about-section {
  background-color: #2F3131;
}

#about-section p {
  color: #F8F1E5;
}

footer {
  background-color: #426E86;
  display: flex;
  height: 5%;
}

h1 {
  color: #F8F1E5;
  font-weight: 400;
  font-size: 60px;
  margin: 180px auto auto auto;
}

p {
  font-size: 20px;
}

.projects {
  margin-left: 200px;
  margin-right: 200px;
}

.project-tile div {
  display: inline-block;
  background-color: #F8F1E5;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 30px 30px 30px 30px;
  line-height: 145px;
}

#about-section div {
  margin-left: 200px;
  margin-right: 200px;
}

#about-section img {
  height: 100px;
  width: 100px;
  margin: 80px;
}