html {
  font-family: 'Source Sans Pro';
}

body {
  margin: auto;
}

nav ul {
  position: fixed;
  font-size: 30px;
  list-style-type: none;
  margin: 60px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: gray;
}

section {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
}

#welcome-section {
  background-color: #426E86;
}

#welcome-section img {
  height: 200px;
  width: auto;
  margin: 50px;
  border-radius: 10%;
}

#project-section {
  background-color: #F9BA32;
}

#about-section {
  background-color: #2F3131;
}

#about-section p {
  color: #F8F1E5;
}

footer {
  background-color: #426E86;
  display: flex;
  height: 5%;
}

h1 {
  color: #F8F1E5;
  font-weight: 400;
  font-size: 60px;
  margin: 180px auto auto auto;
}

p {
  font-size: 20px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-container a {
  text-decoration: none;
}

.project-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #F8F1E5;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 80px 50px 20px 50px;
}

.hobby-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hobby-item {
  display: flex;
  flex-direction: column;
}

.hobby-item img {
  height: 100px;
  width: 100px;
  margin: 50px 50px 0px 50px;
}

.hobby-item .hobby-item-description p {
  visibility: hidden;
}

.hobby-item:hover .hobby-item-description p {
  visibility: visible;
}

.hobby-item p.caption {
  position: absolute;
  top: 250%;
  left: 20%;
  width: 60%;
  text-align: left;
  display: none;
  color: white;
}

.hobby-item:hover p.caption {
  display: block;
}

.attribution {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.attribution p {
  font-size: 15px;
}